BANK_BASE_URL=https://e.statebank.mn/CorporateGatewayTest
BANK_USERNAME=criticdesigntest
BANK_PASSWORD=QAaczS
BANK_ACCOUNT_NO=MN300034889696595988
BANK_ACCOUNT_PIN=5710

NEXTJS_CALLBACK_URL=http://localhost:3000
CALLBACK_SECRET=change-this-to-a-secret-key

SMS_API_KEY=your-unitel-enc-key
PORT=4000
